# Latex files
*.pdf
*.aux
*.bbl
*.blg
*.log
*.out
*.bcf
*.spl
*.run.xml
*-blx.bib

# Paths
eigen
odeint

# Compiled objects
*.o
sm_example
nsm_example
numssm_example
thdm_example
smtest
running_plot
nusmtest
numssmtest
mssmtest
landau_example
